html{
    text-justify: align;
    font-family: arial;
}

.principal{
        color: black;
        font-size: 3em;
        text-align: right-side;
        }

h2{
	text-align: right-side;
    color: black;
    font-size: 1,5em;
	
    } 


}

